<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPad Pro/LDAW7314.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAOaANDCcIpr9bLI84I1sYfdfm+fFgnr9AC/9K/tKdB3bpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGFk
	IFBybwwAAAABAQAATERBVzczMTQuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAITYOwAAAAAACAAAAAQDAABj1zsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjYAsAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPad Pro/SVPV7124.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAL/ruH8+CYRk2S7ETC9bj/g3DFYjs4bcShuXyHK35U/zpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGFk
	IFBybwwAAAABAQAAU1ZQVjcxMjQuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAITYOwAAAAAACAAAAAQDAACx1zsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAi20eAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPad Pro/VIMZ2910.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAALhmFFkvzbsUDzzWtzNsd+YDfUNlolfkLnpNbn2abFhspAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGFk
	IFBybwwAAAABAQAAVklNWjI5MTAuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAITYOwAAAAAACAAAAAQDAAB+1zsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjX+8AAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPad Pro/XHJC0481.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAEOWIBdoyn/ycLHH/7rP1QVxjG5G1M9xZkjODRXEIa+jpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGFk
	IFBybwwAAAABAQAAWEhKQzA0ODEuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAITYOwAAAAAACAAAAAQDAABO1zsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjYECAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
