<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/DMYT6841.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAI4BZcZv5ns9oJCGatODVJ8aMHl1IuxUCCEw87hMGPNupAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAARE1ZVDY4NDEuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAb0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXZQAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/FNDQ8652.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAARM7mpNw3rLvZrFJHQ1DLlzf3rucELY3mturYawbCU5pAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAARk5EUTg2NTIuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAU0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXc0AAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/IOAQ0384.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAPtl0MNJkr1PITJb7N2fmID7dCIl0osIBEcQ9t6GvpurpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAASU9BUTAzODQuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAV0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXbGAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/MXSL8638.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAIi64ttXbBljtApta0i+HeVm7nuicVPHQH7DRuj4DZaepAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAATVhTTDg2MzguTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAf0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXJwAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/QZUY0083.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAKCkbm9dANR/bOpBJ+oE1TLc4PYAu3z++uaRq63mLwtTpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAAUVpVWTAwODMuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAd0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXRIAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/TUID8843.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAADxkYrY7QkMTJWPoJDzy4wmN/EIICh5cw+9+63s20fbDpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAAVFVJRDg4NDMuTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAn0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXHWAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/UKRO7028.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAFHqqjc8AUt5BfWbVs6WX9pmqIY3elawGw/BIcw3kT/lpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAAVUtSTzcwMjguTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAABw0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXBKAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/d045365/Documents/private/ARC/resources/media/raw/iPhone X/VMNU0488.MP4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAABZ83F2P8XQgtEEhIWW/qKI9SNcsCd31De0cZ9Fcdd6lpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAFAAAAAQEAAG1lZGlhAAAAAwAAAAEBAAByYXcACAAAAAEBAABpUGhv
	bmUgWAwAAAABAQAAVk1OVTA0ODguTVA0KAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
	AGAAAAB0AAAAhAAAAJAAAACgAAAACAAAAAQDAADWygkAAAAAAAgAAAAEAwAAqzYPAAAA
	AAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgAAAAEAwAA1UEdAAAAAAAI
	AAAABAMAANxBHQAAAAAACAAAAAQDAADy1DsAAAAAAAgAAAAEAwAA9dQ7AAAAAAAIAAAA
	BAMAAOvUOwAAAAAACAAAAAQDAAAc0TsAAAAAACgAAAABBgAA5AAAAPQAAAAEAQAAFAEA
	ACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAAgAAAAABAAAQcAjXYkAAAAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQIGh0AAAA
	CAAAAAAEAABBv9IPszul8yQAAAABAQAAQTM5NTg4RkEtMzkwMi00Mzc0LUI0RDEtRDY3
	MEFBQ0ExQ0ExGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAIQBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
