<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/d045365/Documents/private/ARC/resources/camtasia/iPhone X.mp4</key>
	<data>
	Ym9va1wDAAAAAAQQMAAAAN1T2JAD9NjFJy3pcf2Ovr7POSwIwKCFyanj2BfDgSTtWAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGQwNDUzNjUACQAAAAEB
	AABEb2N1bWVudHMAAAAHAAAAAQEAAHByaXZhdGUAAwAAAAEBAABBUkMACQAAAAEBAABy
	ZXNvdXJjZXMAAAAIAAAAAQEAAGNhbXRhc2lhDAAAAAEBAABpUGhvbmUgWC5tcDQgAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABUAAAAYAAAAHQAAACEAAAACAAAAAQDAADWygkAAAAA
	AAgAAAAEAwAAqzYPAAAAAAAIAAAABAMAALg2DwAAAAAACAAAAAQDAACmJhwAAAAAAAgA
	AAAEAwAA1UEdAAAAAAAIAAAABAMAANxBHQAAAAAACAAAAAQDAAArTT4AAAAAAAgAAAAE
	AwAARYE/AAAAAAAgAAAAAQYAAMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAwAQAA
	CAAAAAAEAABBwCTL3y6jLBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
	AAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1h
	Y2ludG9zaCBIRAgAAAAEAwAAAJAgaHQAAAAIAAAAAAQAAEG/0g+zO6XzJAAAAAEBAABB
	Mzk1ODhGQS0zOTAyLTQzNzQtQjREMS1ENjcwQUFDQTFDQTEYAAAAAQIAAIEAAAABAAAA
	7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAA
	ABAAAAAEEAAAmAAAAAAAAAAFEAAAQAEAAAAAAAAQEAAAeAEAAAAAAABAEAAAaAEAAAAA
	AAACIAAARAIAAAAAAAAFIAAAtAEAAAAAAAAQIAAAxAEAAAAAAAARIAAA+AEAAAAAAAAS
	IAAA2AEAAAAAAAATIAAA6AEAAAAAAAAgIAAAJAIAAAAAAAAwIAAAUAIAAAAAAAABwAAA
	mAEAAAAAAAARwAAAIAAAAAAAAAASwAAAqAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
